.srs-registration-history {
    min-inline-size: 0;
}

.srs-registration-history__intro {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: var(--srs-spacing-primitive-4);
}

.srs-registration-history__table {
    max-inline-size: 100%;
    overflow-x: auto;
}

.srs-registration-history__cards {
    display: none;
    padding: 0;
    list-style: none;
}

.srs-registration-history__schedule {
    display: grid;
    gap: var(--srs-spacing-primitive-5);
}

.srs-registration-history__selector {
    display: flex;
    flex-wrap: wrap;
    gap: var(--srs-spacing-primitive-4);
    margin-block: var(--srs-spacing-primitive-5);
}

@media (max-width: 47.99rem) {
    .srs-registration-history__intro {
        flex-direction: column;
    }

    .srs-registration-history__table {
        display: none;
    }

    .srs-registration-history__cards {
        display: grid;
        gap: var(--srs-spacing-primitive-4);
    }
}

@media print {
    .srs-registration-history__intro button {
        display: none;
    }
}
